################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExemploStorage/.vs/ExemploStorage
/ExemploStorage/ExemploStorage/bin/Debug/netcoreapp2.0
/ExemploStorage/ExemploStorage/obj
